<!DOCTYPE html>
<html lang="en">
<title>HypeR</title>
<style>
    /* Style the popup container */
    #popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #ccc;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        z-index: 1;
        padding: 20px;
      }

      /* Style the popup image */
      #popup img {
        max-width: 100%;
        max-height: 100%;
        border: 5px solid #fff;
      }
      /* Style the buttons */
      #popup button {
        margin-top: 20px;
        padding: 10px 20px;
        border: none;
        background-color: #ccc;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
      }

      /* Style the background */
      #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(background.jpg);
        background-size: cover;
        filter: blur(5px);
        z-index: 0;
        display: none;
      }
  </style>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='what_if.css') }}">
    <script src="https://pagecdn.io/lib/ace/1.4.5/ace.js" integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  /> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-card w3-middle-align w3-large">
   <center>HypeR: : Hypothetical Reasoning With What-If and How-To Queries Using a Probabilistic Causal Approach</center></div>
   <div class="w3-bar w3-blue w3-card w3-middle-align w3-large">
      <center><a href="{{ url_for('main.index') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
      <a href="https://sainyamgalhotra.github.io/papers/HypeR_fullversion.pdf" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Paper</a>
      <a href="{{ url_for('main.query_input_what_if') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">What-if Query</a></center>
      <a href="{{ url_for('main.query_input_how_to') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">How-to Query</a></center>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Demo</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Papers</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Contact Us</a>
    </div>
  </div>
<br><br> 


<form method = 'post' action = '/query_input_how_to'>
    <!-- left bar showing schema & causal graph & causal rule -->
    <div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width: 160px;">
    <a href="#" class="w3-bar-item w3-button"><b>Database Schema</b></a> 
    <button type='button' class="w3-button w3-block w3-left-align" onclick="myAccFunc('demoAcc1')">
      amazon_product <i class="fa fa-caret-down"></i>
    </button>
    <!--TODO Extract this from the dataset so we don't have to have it hardcoded -->
    <div id="demoAcc1" class="w3-hide w3-white w3-card">
      <a href="#" class="w3-bar-item w3-button"><u><b>PID (PK)</b></u></a>
      <a href="#" class="w3-bar-item w3-button">Category</a>
      <a href="#" class="w3-bar-item w3-button">Price</a>
      <a href="#" class="w3-bar-item w3-button">Brand</a>
      <a href="#" class="w3-bar-item w3-button">Color</a>
      <a href="#" class="w3-bar-item w3-button">Quality</a>
    </div>
    <button type='button' class="w3-button w3-block w3-left-align" onclick="myAccFunc('demoAcc2')">
        amazon_review <i class="fa fa-caret-down"></i>
      </button>
      <div id="demoAcc2" class="w3-hide w3-white w3-card">
        <a href="#" class="w3-bar-item w3-button"><u><b>ReviewID (PK)</b></u></a>
        <a href="#" class="w3-bar-item w3-button"><u><b>PID (FK)</b></u></a>
        <a href="#" class="w3-bar-item w3-button">Sentiment</a>
        <a href="#" class="w3-bar-item w3-button">Rating</a>
        <label><b>Detail:</b></label>
        <textarea class="comment" style="width: 160px;" >PID in table "amazon_review" is a foreign key referencing PID in table "amazon_product"
        </textarea>
      </div>
    
      <br>

      <!-- new code for causal graph popup -->
      <!-- TODO add the tuple row + a refresh button  -->
      <button class="button-4 w3-block w3-left-align">
        <a style="text-decoration:none" href="#popup" onclick="showPopup('/static/causal_graph_new.jpg')">Causal Graph</a>
      </button>

      <div id="popup">
        <img id="popup-image" src="/static/causal_graph_new.jpg" alt="Image">
        <button onclick="hidePopup()">Close</button>
        <button onclick="refreshPopup()">Refresh</button>
      </div>
  
      <div id="background"></div>

      <script>
        var images = ["/static/causal_graph_new.jpg", "/static/causal_graph2.jpg"]; // An array of image filenames (our causal graphs)
        var currentIndex = 0; // The index of the currently displayed image

        function showPopup(random_causal_graph) {
          var popup = document.getElementById("popup");
          var background = document.getElementById("background");
          var popupImage = document.getElementById("popup-image");
          popupImage.src = random_causal_graph;
          popup.style.display = "block";
          background.style.display = "block";
          popup.addEventListener("click", hidePopup);
        }
  
        function hidePopup() {
          var popup = document.getElementById("popup");
          var background = document.getElementById("background");
          popup.style.display = "none";
          background.style.display = "none";
        //   popup.removeEventListener("click", hidePopup);
        }
        function refreshPopup() {
        currentIndex = (currentIndex + 1) % images.length; // Increment the index, wrapping around to 0 at the end of the array
        var popupImage = document.getElementById("popup-image");
        popupImage.src = images[currentIndex]; // Set the image source to the next image in the array
      }
      </script>

    
    <!-- TODO add a plain text file-->
    <button class="button-4 w3-block w3-left-align">
        <a style="text-decoration:none" href="#causal-rules">Causal Rules</a>
    </button>
    </div>
  <script>
    function myAccFunc(listname) {
    var x = document.getElementById(listname);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " w3-green";
    } else {
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = x.previousElementSibling.className.replace(
        " w3-green",
        ""
        );
    }
    }
  </script>

<div class="container" style=" margin-top: 50px; margin-left: 160px;">

    <!-- INPUT GRID MIDDLE LEFT -->
    <div class="input_grid">
        <div>
            <label>Choose Database</label>
            <!-- <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">Enter Aggregate Query Here:</button> -->
        </div>
        
        <div class="span-col-5">
            {{ form.database(id='database', class = 'button',style='padding: 6px 16px') }}
            <!-- <div style="display: inline; float: right;"> -->
                <!-- <button type = 'submit' class="button-4" name = 'specify_constraints' role="button" style = "background-color: rgba(27, 31, 35, 0.15)">Specify Constraints</button> -->
            <!-- </div> -->
            <!-- <div class="inline-text" style="display: inline;"> </div> -->
        </div>


        <!-- USE ROW -->
        <div>
            <label>Aggregate Query</label> 
            <!-- <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">USE</button> -->
        </div>
        
        
            <!-- <div style="display: inline;">
                <input class="button-4" type="text" id="relview" name="relview" value="AS RelevantView" disabled
                style="background-color: rgba(216, 216, 216, 0.548); width: 165px">
            </div> -->
            <!-- <div class="inline-text" style="display: inline;"> </div>
        </div> -->

        <div class="span-col-5"> 
            <div id="editor_USE"></div>
            <textarea name="use" id="use" style="display: none;">{{ form.use.data }}</textarea>

            <script>
                var editor_USE = ace.edit("editor_USE");
                var textarea = document.getElementById("use");
                editor_USE.setTheme("ace/theme/xcode"); 
                // cobalt, dawn, solarized_light, xcode
                editor_USE.session.setMode("ace/mode/sql");
                editor_USE.setOptions({
                    // fontFamily: "tahoma",
                    fontSize: "12pt"
                });
                editor_USE.getSession().setValue(textarea.value);
                editor_USE.getSession().on('change', function(){
                    textarea.value=editor_USE.getSession().getValue();
                });
            </script>
         
            <!-- <div style="width: 100px; height: 50px;">
                <div class="help-tip" id="help-tip-whatif">
                    <p> Help Tip: Group data by a attribute and aggregate the output attribute. The first attribute of table you got should be the groupby attribute, and the second attribute should be the output attribute</p>
                </div>
                <br>
                {{ form.run_relevant(class = 'button-4', style="background-color: rgba(27, 31, 35, 0.15);")}}
                THIS LINE IS COMMENTED<button class="button-4" name = 'run_relevant' role="button" style="background-color: rgba(130, 192, 128, 0.548);">RUN RELEVANT VIEW</button>
            </div> -->
            {% if errorHow %}
                <div class="alert alert-danger" role="alert" style="color: red; border: 1px solid red; padding: 10px;">
                    {{ errorHow }}
                </div>
            {% endif %}
            <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                <div style="width: 100px; height: 50px;">
                    <div class="help-tip" id="help-tip-whatif">
                        <p> Help Tip: Group data by a attribute and aggregate the output attribute. The first attribute of table you got should be the groupby attribute, and the second attribute should be the output attribute</p>
                    </div>
                    <br>
                    {{ form.run_relevant(class = 'button-4', style="background-color:#2196F3; color: #fff;")}}
                </div>
            
                {{ form.sample_query(id='sample_query_button', class = 'button-4', style="background-color: rgba(130, 192, 128, 0.548); margin-left: 10px;") }}
            </div>
        <br>
        <br>

        <script>
            // Get references to the textarea and the button
            var textareaQuery = document.getElementById('use');
            var buttonQuery = document.getElementById('sample_query_button');
            
            // Add an event listener to the button
            buttonQuery.addEventListener('click', function() {
                // Set the value of the textarea to some sample data
                textareaQuery.value = 'SELECT T1.category, AVG(T2.rating) as rating \nFROM amazon_product AS T1, amazon_review as T2\nWHERE T1.pid = T2.pid\nGROUP BY T1.category';
            });
            // add functionallity to output the graph(cached image)
        </script>
        
        </div>
        <!-- OUTPUT ROW -->
        <!-- <div>
            <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">OUTPUT</button>
        </div>
        <div class="span-col-5">
            {{ form.output_type(class='button-4')}} -->
            <!-- <select class="button-4" name="output_aggr" id="output_aggr">
                <option value="count">AVG</option>
                <option value="sum">SUM</option>
                <option value="avg">COUNT</option>
            </select> -->
            <!-- <div style="display: inline;">
                {{ form.output_attrs(class='button-4')}} -->
                <!-- <select class="button-4" name="output_aggr" id="output_aggr">
                    <option value="product">POST(Rtng)</option>
                    <option value="review">POST(Brand)</option>
                    <option value="rel_view">POST(Senti)</option>
                    <option value="rel_view">POST(Price)</option>
                </select> -->
            <!-- </div> -->
        <!-- </div>   -->
        <!-- FOR ROW --> 
        <!-- <div>
        </div> 
        <div>
            <button class="button-4" role="button">+ FOR</button>
        </div>
        <div class="span-col-4">
            <div id="editor_FOR"></div>
            <textarea = name="output" id="output" style="display: none;">{{ form.output.data}}</textarea>
                        
            <script>
                var editor_FOR = ace.edit("editor_FOR");
                var textarea_for = document.getElementById("output");
                editor_FOR.setTheme("ace/theme/xcode");
                editor_FOR.session.setMode("ace/mode/sql");
                editor_FOR.setOptions({
                    // fontFamily: "tahoma",
                    fontSize: "12pt"
                });
                editor_FOR.getSession().setValue(textarea_for.value);
                editor_FOR.getSession().on('change',function(){
                    textarea_for.value=editor_FOR.getSession().getValue();
                });
            </script>
        </div> -->

          <!-- MAXIMIZE ROW -->
          <div>
            <label>Objective</label>
        </div>
        
        <div class="span-col-5">
            <div style="display: inline;">
                <!-- <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">MAXIMIZE</button> -->
                {{form.objective(class="w3-button", role="button")}}
            </div>  
            <div style="display: inline;">
            <!-- <select class="button-4" name="output_aggr" id="output_aggr">
                
                    <option value="count">AVG</option>
                    <option value="sum">SUM</option>
                    <option value="avg">COUNT</option>

            </select>
            
            <select class="button-4" name="output_aggr" id="output_aggr">
                    <option value="product">POST(Rtng)</option>
                    <option value="review">POST(Brand)</option>
                    <option value="rel_view">POST(Senti)</option>
                    <option value="rel_view">POST(Price)</option>
                </select> -->
            <!-- TODO: change buttons content -->
            <select class="w3-button" name="output_aggr" id="output_aggr">
                {% if update_button %}
                    {% for item in update_button %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                {% else %}
                    <option value="count">AVG</option>
                    <option value="sum">SUM</option>
                    <option value="avg">COUNT</option>
                {% endif %}
            </select>
            
            <select class="w3-button" name="output_attr" id="output_attr">
                {% if update_button %}
                    {% for item in update_button %}
                    <option value="{{ item[1]|lower }}">{{ item[1] }}</option>
                    {% endfor %}
                {% else %}
                    <option value="product">POST(Rtng)</option>
                    <option value="review">POST(Brand)</option>
                    <option value="rel_view">POST(Senti)</option>
                    <option value="rel_view">POST(Price)</option>
                {% endif %}
            </select>
            </div>
            <!-- FOR ROW --> 
            <div>
                For a subset that satisfies
            </div>
            <div class="span-col-4">
                <div id="editor_FOR"></div>
                <textarea name="for_condition" id="for" style="display: none;">{{ form.for_condition.data}}</textarea>
            
                <script>
                    var editor_FOR = ace.edit("editor_FOR");
                    editor_FOR.setTheme("ace/theme/xcode");
                    editor_FOR.session.setMode("ace/mode/sql");
                    editor_FOR.setOptions({
                        // fontFamily: "tahoma",
                        fontSize: "12pt"
                    });
            
                    // Set the value of the editor to the value of the for_condition field
                    var textarea = document.getElementById("for");
                    editor_FOR.getSession().setValue(textarea.value);
                </script>
                {% if errorObjective %}
                <div class="alert alert-danger" role="alert" style="color: red; border: 1px solid red; padding: 10px;">
                    {{ errorObjective }}
                </div>
            {% endif %}
                <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div style="width: 100px; height: 50px;">
                        <div class="help-tip" id="help-tip-whatif">
                            <p> Help Tip: Group data by a attribute and aggregate the output attribute. The first attribute of table you got should be the groupby attribute, and the second attribute should be the output attribute</p>
                        </div>
                        <br>
                    </div>
                    <!-- {{ form.sample_objective(id='sample_update_objective', class = 'button-4', style="background-color: rgba(130, 192, 128, 0.548); margin-left: 10px;") }} -->
                </div>
            
                <!-- <script>
                    // Get references to the textarea and the button
                    var textareaFor = document.getElementById('for');
                    //could put in the dropdowns and set it, but it's already set by query??
                    var buttonObjective = document.getElementById('sample_update_objective');
            
                    // Add an event listener to the button
                    buttonObjective.addEventListener('click', function() {
                        textareaFor.value = 'brand=\'Asus\'';
                    });
                    // add functionallity to output the graph(cached image)
                </script> -->
            </div>
            

        </div>
    
        <div>
            <label>Update Constraint</label>
            <div>
                <button type = 'button' class="button-4" role="button" style = "background-color: rgba(27, 31, 35, 0.15); display: inline; border-radius: 80%" onclick = AddMore()>+</button>
            </div>
 
        </div>
        <div class = 'span-col-5' id="update section">
            <!-- <script>
                function changeButtonText(value){
                    document.getElementById('update_attr2').innerText = value;
                }
            </script> -->
                        
           <!-- Choose the attribute to perform update: -->
           <!-- <div style="display: inline;"> -->
            <!-- <select class="button" name="table" id="table-dropdown">
                <option value="product">Price</option>
                <option value="review">Review</option>
                <option value="rel_view">Product</option>
            </select> -->
            <!-- <select class="button" id = 'ShowButton2' onchange="stringChange2()">
                <option value="blank"></option>
                <option value="Rtng">POST(Rtng)</option>
                <option value="Brand">POST(Brand)</option>
                <option value="Price">POST(Price)</option>
                <option value="Category">POST(Category)</option>
                <option value="Quality">POST(Quality)</option>
                <option value="Color">POST(Color)</option>
            </select>  -->
            <!-- {{form.update_attrs(class="button, myShowButton", id = 'ShowButton', onchange="stringChange()")}} -->
        <!-- </div> -->
        <script>
            function stringChange(){
                // var button = document.querySelector('.myShowButton')
                var button = document.getElementById('ShowButton').value
                if(button == 'blank'){
                    document.getElementById('update_attr2').value = ""
                }
                else{
                    localStorage.setItem('update_attr2_value', "PRE("+button+")");
                    document.getElementById('update_attr2').value = "PRE("+button+")"}      
            }
        </script>
        <script>
            function getUpdateAttr2Value() {
                return localStorage.getItem('update_attr2_value') || '';
            }

            function setUpdateAttr2Value(value) {
                localStorage.setItem('update_attr2_value', value);
                document.getElementById('update_attr2').value = value;
            }

            document.addEventListener('DOMContentLoaded', function() {
                setUpdateAttr2Value(getUpdateAttr2Value());
            });
        </script>
        <div class="span-col-5">
            <!-- The update range is limited (optional):
            <br> -->
            <div style="display: inline;">
                {{form.update_attrs(class="button, myShowButton", id = 'ShowButton', onchange="stringChange()")}}
            </div>
            <input class="button" type="text" id="relview" name="relview" value="From" disabled
                style="background-color: rgba(216, 216, 216, 0.548); width: 50px">
            <div style="display: inline;">
                <!-- <input class="button" type="number" id="update_const" name="update_const" size="4"
                style="width: 100px;" > -->
                {{form.update_const_from(class="button", type="number", step='any', id="update_const_from_how",size="4",style="width: 50px;")}}
            </div> 
            <input class="button" type="text" id="relview" name="relview" value="To" disabled
            style="background-color: rgba(216, 216, 216, 0.548); width: 25px; ">
            <div style="display: inline;">
                <!-- <input class="button" type="number" id="update_const" name="update_const" size="4"
                style="width: 100px;" >  -->
                {{form.update_const_to(class="button", type="number", step='any', id="update_const_to_how",size="4",style="width: 50px;")}}
            </div>
            <div style="display: inline;">
                <!-- <select class="button"  name="update_attribute" id="update_dropdown">
                    <option value="blank"></option>
                    <option value="product">x</option>
                    <option value="review">+</option>
                    <option value="rel_view">.</option>
                </select> -->
                {{ form.update_sign(class='button',id='update_dropdownHow')}}
            </div>

            <div style="display: inline;">
            
                    <!-- TODO KAYVON put input value such as PRE(Price)-->
                <input class="button" type="text" id="update_attr2" name="update_attr2" 
                disabled style="background-color: rgba(216, 216, 216, 0.548); width: 120px">
                    
            </div>
        

        
            <!-- TODO KAYVON put input value such as 1.1-->
        </div>

        <!-- Second update constraint! -->
        <script>
            function stringChange2(){
                // var button = document.querySelector('.myShowButton')
                var button = document.getElementById('ShowButton2').value
                if(button == 'blank'){
                    document.getElementById('update_attr3').value = ""
                }
                else{
                    localStorage.setItem('update_attr3_value', "PRE("+button+")");
                    document.getElementById('update_attr3').value = "PRE("+button+")"}      
            }
        </script>
        <script>
            function getUpdateAttr3Value() {
                return localStorage.getItem('update_attr3_value') || '';
            }

            function setUpdateAttr3Value(value) {
                localStorage.setItem('update_attr3_value', value);
                document.getElementById('update_attr3').value = value;
            }

            document.addEventListener('DOMContentLoaded', function() {
                setUpdateAttr3Value(getUpdateAttr3Value());
            });
        </script>
        <br>
        <!-- Second update constraint! -->
        <div class="span-col-5">
            <div style="display: inline;">
                {{form.update_attrs2(class="button, myShowButton", id = 'ShowButton2', onchange="stringChange2()")}}
            </div>
            <input class="button" type="text" id="relview" name="relview" value="From" disabled
                style="background-color: rgba(216, 216, 216, 0.548); width: 50px">
            <div style="display: inline;">
                <!-- <input class="button" type="number" id="update_const" name="update_const" size="4"
                style="width: 100px;" > -->
                {{form.update_const_from2(class="button", type="number", step='any', id="update_const_from_how2",size="4",style="width: 50px;")}}
            </div> 
            <input class="button" type="text" id="relview" name="relview" value="To" disabled
            style="background-color: rgba(216, 216, 216, 0.548); width: 25px; ">
            <div style="display: inline;">
                <!-- <input class="button" type="number" id="update_const" name="update_const" size="4"
                style="width: 100px;" >  -->
                {{form.update_const_to2(class="button", type="number", step='any', id="update_const_to_how2",size="4",style="width: 50px;")}}
            </div>
            <div style="display: inline;">
                <!-- <select class="button"  name="update_attribute" id="update_dropdown">
                    <option value="blank"></option>
                    <option value="product">x</option>
                    <option value="review">+</option>
                    <option value="rel_view">.</option>
                </select> -->
                {{ form.update_sign2(class='button',id='update_dropdownHow2')}}
            </div>

            <div style="display: inline;">
                <input class="button" type="text" id="update_attr3" name="update_attr3" 
                disabled style="background-color: rgba(216, 216, 216, 0.548); width: 120px">
                    
            </div>
        

        
            <!-- TODO KAYVON put input value such as 1.1-->
        </div>
        <div class="span-col-5">
            <div style="display: inline; float: left;">
                <!-- <div class="help-tip" id="help-tip-whatif2">
                    <p> Help Tip: Specify the range of updated attribute</p>
                 </div> -->
    
            </div>                
        
        <!-- WHEN ROW -->
            <div>
                <br>
                For a subset that satisfies
            </div>
        <!-- <div>
            <button class="button-4" role="button">+ WHEN</button>
        </div> -->

        <div class="span-col-4" style="display: inline">
            <div id="editor_WHEN"></div>
            <textarea name="when" id="when" style="display: none;">{{ form.when.data}}</textarea>
            <script>
                var editor_WHEN = ace.edit("editor_WHEN");
                var whenarea_for = document.getElementById("when");
                editor_WHEN.setTheme("ace/theme/xcode");
                editor_WHEN.session.setMode("ace/mode/sql");
                editor_WHEN.setOptions({
                    // fontFamily: "tahoma",
                    fontSize: "12pt"
                });
                editor_WHEN.getSession().setValue(whenarea_for.value);
                editor_WHEN.getSession().on('change',function(){
                    whenarea_for.value=editor_WHEN.getSession().getValue();
                });
            </script>
            <br>
            {% if errorConstraint %}
            <div class="alert alert-danger" role="alert" style="color: red; border: 1px solid red; padding: 10px;">
                {{ errorConstraint }}
            </div>
            {% endif %}
            <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                <div style="width: 100px; height: 50px;">
                    <br>
                    {{ form.run(class = 'button-4', style="background-color: rgba(27, 31, 35, 0.15);")}}
                </div>
                {{ form.sample_constraint(id='sample_constraint', class = 'button-4', style="background-color: rgba(130, 192, 128, 0.548); margin-left: 10px;") }}
            </div>
        </div>
        
            <script>
                // Get references to the textarea and the button
                var textareaWhen = document.getElementById('when');
                var updateAttr_dropdown = document.getElementById('ShowButton')
                var automaticUpdate = document.getElementById('update_attr2')
                var updateConstFrom = document.getElementById('update_const_from_how')
                var updateConstTo = document.getElementById('update_const_to_how')
                var updateSign = document.getElementById('update_dropdownHow')
                var button = document.getElementById('sample_constraint')
                // second constraint
                var updateAttr_dropdown2 = document.getElementById('ShowButton2')
                var automaticUpdate2 = document.getElementById('update_attr3')
                var updateConstFrom2 = document.getElementById('update_const_from_how2')
                var updateConstTo2 = document.getElementById('update_const_to_how2')
                var updateSign2 = document.getElementById('update_dropdownHow2')
                // Add an event listener to the button
                button.addEventListener('click', function() {
                    updateAttr_dropdown.value = 'price','POST(Price)'
                    automaticUpdate.value = "PRE(price)"
                    localStorage.setItem('update_attr2_value', "PRE(price)");
                    updateConstFrom.value = .9
                    updateConstTo.value = 1.5
                    updateSign.value = 'x','x'
                    // second constraint
                    updateAttr_dropdown2.value = 'quality','POST(Quality)'
                    automaticUpdate2.value = "PRE(quality)"
                    localStorage.setItem('update_attr3_value', "PRE(quality)");
                    updateConstFrom2.value = 1.2
                    updateConstTo2.value = 1.6
                    updateSign2.value = 'x','x'
                    // Set the value of the textarea to some sample data
                    textareaWhen.value = 'brand=\'Asus\'';
                });
                // add functionallity to output the graph(cached image)
            </script>




    </div>

    <div class="output-grid">

          <!-- <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'London')">Overall</button>
          <button class="w3-bar-item w3-button tablink" onclick="openCity(event,'Paris')">Vary Updates</button> -->

        <!-- <div id="London" class="w3-container city"> -->

            {%- if causal_graph -%}
            <div class="bold_title">
                Aggregate Query View
            </div>
            <div>
                <div id="bar-out-2">
                    <!-- <img id="bar" src="/static/bar_graph.jpg" style=" -->
                    <img id="bar" src="/bar_plot.png" style="
                    width: 400px;
                    height: 250px;
                    object-fit: contain;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    width: 50%;">
                </div>
                
            </div>
            {%- endif %}
    
            {%- if final_run -%}
    
            <!-- <div class="bottom_banner"> -->
                <div class="bold_title">
                    Top 5 Results
                </div>
                <br>
                <div id="rel_view_table">
                    <table border="1" class="dataframe">
                        <thead>
                        <tr style="text-align: right;">
                            {% for col in result_columns %}
                                <th>{{ col }}</th>
                            {% endfor %}
                                <!-- <th>pre(prices)</th>
                                <th> pre(rating)</th> -->
                        </tr>
                        </thead>
                        <tbody>
                            {% for result in result_ls %}
                            <tr>
                                <td>{{ result[0] }}</td>
                                <td>{{ result[1] }}</td>
                                <td>{{ result[2] }}</td>
                                <td>{{ result[3] }}</td>
                                <!-- {% if loop.first %}
                                <td rowspan="{{ result_ls|length }}">pre(prices)</td>
                                <td rowspan="{{ result_ls|length }}">pre(rating)</td>
                                {% endif %} -->
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    
                </div>
                

                
            <!-- </div> -->
            {%- endif %}
        <!-- </div> -->
       
    </div>
</form>

<script>
    if ( window.history.replaceState ) {
    window.history.replaceState( null, null, window.location.href );
  }
  </script>

</body>
</html>




<!-- <script>
    var original = document.getElementById('update section');
    function AddMore(){
    var clone = original.cloneNode(true); // "deep" clone
// or clone.id = ""; if the divs don't need an ID
    original.parentNode.appendChild(clone);
    }
</script> -->